.table {
    background-color: mediumpurple;
    border: midnightblue;

    }

    .pnk {

        border : 1px solid black;

    }

    .body{
        background-color: thistle;
        font-family: Tahoma;   
    }